[Unit]
Description=Song request website that receives !sr from stroopc's chatbot

[Install]
WantedBy=multi-user.target

[Service]
User=stroop
Type=forking
WorkingDirectory=/home/stroop/src/botify
ExecStart=/home/stroop/src/botify/run.sh
Restart=always
RestartSec=3
